<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <body>
      <ul id="messages"></ul>
      <form action=""><input type="" id="message" /><button>Send</button></form>
      <script src="/socket.io/socket.io.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

      <script>
        $(function () {
          var socket = io.connect('http://localhost/chat')
          $('form').submit(function () {
            socket.emit('message', $('#message').val())
            $('#message').val('')
            return false
          })

          socket.on('messages', function (data) {
            var x = document.createElement('div')
            var t = document.createTextNode(data.message)
            x.appendChild(t)
            document.body.appendChild(x)
          })
        })
      </script>
    </body>
  </body>
</html>
