<form action="/admin/products" method="post">
    <div>
        <input type="text" name="name" placeholder="Name">
    </div>
    <div>
        <input type="text" name="price" placeholder="Price">
    </div>
    <div>
        <input type="submit" value="Add Product">
    </div>
</form>